{% extends "base.html" %}

{% block content %}

    {% load staticfiles %}
    <script src="{% static "js/bootstrap3-typeahead.min.js" %}"></script>
    <script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "js/ticketmgr.js" %}"></script>
    <style type="text/css">@import "{% static "css/bootstrap-datetimepicker.min.css" %}" ;</style>

<script>
    $(function(){
        $("#id_terminal_no").parent().after('<p><label>安装地址:&nbsp</label><span id="id_terminal_location"></span></p>')
        $("#id_terminal_no").parent().after('<p><label>设备名称:&nbsp</label><span id="id_terminal_name"></span></p>')
    })
</script>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h1 class="panel-title"> 新建故障 </h1>
        </div>
        <div class="panel-body">
            <form id="incident_form" method="post" action="/ticketmgr/create_incident/">
                <div class="col-xs-8">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="btn btn-info" type="submit" name="submit" value="Create Incident" />
                </div>
            </form>
        </div>
    </div>

{% endblock %}