<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
{#    <title></title>#}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>

<script src="http://cdn.bootcss.com/jquery.form/3.51/jquery.form.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <script src="{% static "js/bootstrap3-typeahead.min.js" %}"></script>
    <script src="{% static "js/ticketmgr.js" %}"></script>
</head>

<script>

</script>
<body>
<div class="container" style="padding-top: 20px; padding-bottom: 20px">
{#            <form id="action_form" method="post" action="/ticketmgr/create_action/{{ incident_id }}/">#}

    <form id="action_form">
                <div class="col-xs-6">
                    {% csrf_token %}
                    {{ form.as_p }}
{#                    <input class="btn btn-default" id="action_form_btn" type="submit" name="submit" value="Create Action" />#}
                                        <button type="button" class="btn btn-primary" id="action_form_btn">Create Action</button>

                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </form>


    <div class="modal-content"></div>
</div>
</body>
</html>