{% extends "base.html" %}
{% block content %}

        {% load staticfiles %}
    <script src="{% static "js/bootstrap3-typeahead.min.js" %}"></script>
    <script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
    <script src="{% static "js/ticketmgr.js" %}"></script>
    <style type="text/css">@import "{% static "css/bootstrap-datetimepicker.min.css" %}" ;</style>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h1 class="panel-title"> 更新故障 </h1>
    </div>
<div class="panel-body">
<form id="incident_form" method="post" >
    {% csrf_token %}
    {{ form.as_p }}
{#    {% for field in form.visible_fields %}#}
{#        {{ field.errors }}#}
{#        {{ field.help_text }}#}
{#        {{ field }}#}
{#    {%  endfor %}#}
    <input class="btn btn-info" type="submit" name="submit" value="Update Incident" />
</form>
</div>

{% endblock %}