<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <script src="{% static "js/bootstrap3-typeahead.min.js" %}"></script>
    <script src="{% static "js/common_util.js" %}"></script>
    {% block header %}
    {% endblock %}
</head>
<body>

{#<nav class="navbar navbar-default" role="navigation">#}
{#<div class="row container-fluid bg-info">#}
<div class="row container-fluid" style="background-image: -webkit-linear-gradient(top, #5b8933, #bad279)">
{#{% block top_button %}#}
{#{% endblock %}#}

 <ul class="nav navbar-nav">
     <li class="navbar-brand">中集电商</li>
     <li><a href="{% url 'ticketmgr:index' %}">故障记录</a></li>
     <li><a href="{% url 'issuemgr:index'%}">问题跟踪</a></li>
     <li><a href="{% url 'errormonitor:index'%}">报警记录</a></li>
     <li><a href="#">图表统计</a></li>
     <li><a href="#">设备维护</a></li>
</ul>
<ul class="nav navbar-nav pull-right">
    <li class="navbar-text">你好: {{ user.userprofile.username_cn }}</li>
    <li><a href="{% url 'logout' %}" >登出</a></li>
{#     <li class="btn " onclick="location='{% url 'logout' %}'">登出</li>#}
</ul>

</div>
{#</nav>#}

    <div class="row">
        <hr style="width:100%;position:relative;margin-top:0px;border-top:1px ridge green">
    </div>
<div class="container-fluid">
<div class="panel panel-default">
<div class="panel-body">
{% block content %}
{% endblock %}
</div>
</div>
</div>
</body>
</html>